body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('./img/10_background_images/01_desert/desert04.jpg');
    background-size: cover;
    font-family: 'ZABARS';
}

.d-none {
    display: none;
}
#mobileHorizontalOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 10;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mobileHorizontalOverlayText {
    color: white;
    font-size: 36px;
    letter-spacing: 3px;
    margin-bottom: 40vh; 
}
#mobileRotateButton {
    position: absolute;
    top: 70%;
    left: 50%;
    right: 50%;
    width: 150px;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

#backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -5;
}

h1 {
    font-size: 98px;
    letter-spacing: 50px;
}
#desktopInteractions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin-bottom: 20px;
}
#desktopFullscreenButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#desktopFullscreenButtonContainer:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
#desktopFullscreenButton {
    width: 5vw;
}

#desktopFullscreenText {
    color: black;
    font-size: 44px;
    margin-right: 1vw;
    letter-spacing: 3px;
}
#desktopSoundButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#desktopSoundButtonContainer:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
#desktopSoundButtonOn {
    width: 5vw;
}
#desktopSoundButtonOff {
    width: 5vw;
}
#desktopSoundText {
    color: black;
    font-size: 44px;
    margin-right: 1vw;
    letter-spacing: 3px;
}
.canvas-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-overlay-container-top {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: 100%;
   height: 100%;
}
.mobile-sound-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
    padding-right: 25px;
}
.mobile-sound-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
#mobileSoundButtonOn {
    width: 40px;
}
#mobileSoundButtonOff {
    width: 40px;
}
#mobileImpressumTitle {
    font-size: 32px;
}
.mobile-overlay-container-bottom {
    position: absolute;
    bottom: 5%;
    left: 10%;
    right: 15%;
}
.mobile-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-direction-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-action-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-button-container {
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgba(255, 255, 255, 0.5);
}
.mobile-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
}


canvas {
    border-radius: 20px;
    background-color: black;
    display: block;
}
@font-face {
    font-family: 'ZABARS';
    src: url('./font/ZABARS/Zabars.ttf') format('truetype');
}
@media (hover: hover) and (pointer: fine) {
    .mobile-overlay-container-top {
        display: none;
    }
    .mobile-overlay-container-bottom {
        display: none;
    }
    #mobileHorizontalOverlay {
        display: none;
    }
}
@media (hover: none) and (pointer: coarse) {
    body {
        background-image: none;
    }
    .canvas-container {
        display: block;
    }
    .mobile-overlay-container-top {
        position: fixed;
    }
    .mobile-overlay-container-bottom {
        position: absolute;
        z-index: 10;
    }
    #desktopInteractions {
        display: none;
    }
    canvas {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    h1 {
        display: none;
    }
}
@media (min-height: 1080px) {
    #desktopFullscreenButton {
        width: 60px;
    }
    #desktopSoundButtonOn {
        width: 60px;
    }
    #desktopSoundButtonOff {
        width: 60px;
    }
    #desktopFullscreenText {
        font-size: 40px;
    }
    #desktopSoundText {
        font-size: 40px;
    }
}
@media (max-height: 1080px) { 
    h1 {
        font-size: 65px;
    }
    #desktopFullscreenButton {
        width: 3vw;
    }
    #desktopSoundButtonOn {
        width: 3vw;
    }
    #desktopSoundButtonOff {
        width: 3vw;
    }
    #desktopFullscreenText {
        font-size: 2vw;
    }
    #desktopSoundText {
        font-size: 2vw;
    }
    
}
@media (max-height: 935px) {
    h1 {
        display: none;
    }
    #desktopInteractions {
        margin-top: 5vh;
        margin-bottom: 0;
    }
}
@media (max-height: 830px) { 
    #desktopInteractions {
        margin-top: 1vh;
    }
    #desktopFullscreenButton {
        width: 1.5vw;
    }
    #desktopSoundButtonOn {
        width: 1.5vw;
    }
    #desktopSoundButtonOff {
        width: 1.5vw;
    }
    #desktopFullscreenText {
        font-size: 1.5vw;
    }
    #desktopSoundText {
        font-size: 1.5vw;
    }
}
@media (max-height: 750px) {
    #desktopInteractions {
        position: fixed;
        top: 5%;
        left: 0;
        right: 10%;
        margin-bottom: 0;
    }
}
@media (min-aspect-ratio: 5/4) and (hover: none) and (pointer: coarse) and (max-width: 1367px) {
    h1 {
        display: none;
    }
    #mobileHorizontalOverlay {
        display: none;
    }
    body {
        background-image: none;
    }
    #desktopInteractions {
        display: none;
        margin-bottom: 0;
    }
    .canvas-container {
        display: block;
    }
    .mobile-overlay-container-top {
        position: fixed;
    }
    .mobile-overlay-container-bottom {
        position: absolute;
    }
    canvas {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
}
@media (max-width: 1280px) {
    canvas {
        width: 100vw;
    }
    h1 {
        font-size: 40px;
    }
    #desktopFullscreenButton {
        width: 60px;
    }
    #desktopSoundButtonOn {
        width: 60px;
    }
    #desktopSoundButtonOff {
        width: 60px;
    }
    #desktopFullscreenText {
        font-size: 20px;
    }
    #desktopSoundText {
        font-size: 20px;
    }
}
@media (max-width: 900px) {
    h1 {
        font-size: 30px;
        letter-spacing: 10px;
    }
    #desktopFullscreenButton {
        width: 40px;
    }
    #desktopSoundButtonOn {
        width: 40px;
    }
    #desktopSoundButtonOff {
        width: 40px;
    }
    
}

/* 
@media only screen and (max-height: 500px) {
    #mobileHorizontalOverlay {
        display: none;
    }
}
@media only screen and (max-height: 720px) {
    body {
        background-image: none;
    }
    #desktopInteractions {
        display: none;
        margin-bottom: 0;
    }
    .canvas-container {
        display: block;
    }
    .mobile-overlay-container-top {
        position: fixed;
    }
    .mobile-overlay-container-bottom {
        position: absolute;
    }
    canvas {
        width: 100vw;
        height: 100vh;
    }
}
 */